ul {
    /* list-style: none;
    padding: 0;
    margin: 0; */
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

img {
    width: 180px;
    height: 110px;
    object-fit: cover;
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}